<strong>Ola, {{ owner }} </strong>
<p>Um novo inscrito em seu Meetup:</p>
<p>
  <strong>Meetup: </strong> {{ meetupId }} - {{ meetupTitle }}
</p>
<p>
  <strong>Horário: </strong> {{ date }}
</p>

<p>
  <strong>Nome do Usuário: </strong> {{ userName }}
</p>
<p>
  <strong>Email do Usuário: </strong> {{ userEmail }}
</p>
